.mw-content-text {
	
}

.wikiLink {
}

.infoCard {
	display:block;
	padding:8px 10px;
	margin:10px 50px;
	cursor:pointer;
	background-color: #f0f0f0;
	-moz-column-count:2; /* Firefox */
	-webkit-column-count:2; /* Safari and Chrome */
	column-count:2;
}

.infoCardHeader {
	display:none;
	font-weight: bold;
}

.infoCardBody {
	display:inline;
	font: 0.9em/1.8em Georgia;
}

.goLink {
	text-align: right;
	font-weight:bold;
	display:block;
}
